.button-frontpage-ctr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}

.button-project-ctr {
    position: relative;
    display: inline-block;
}

.button-crud-ctr {
    width:50%;
    text-align: center;
    margin: 30px 0px;
}

button.login,
button.register,
button.submit
{
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 150px;
    height: 45px;
    cursor: pointer;
    margin: 0px 30px;
}

button.details,
button.edit,
button.delete-project {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin: 15px 10px;
}

button.delete {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin: 15px 10px;
}

button.delete,
button.delete-task,
button.delete-project {
    background-color: var(--clr-coral);
    border: none;

}

button.login,
button.details {
    background-color: var(--clr-green-light);
    border: none;
}

button.login:hover,
button.details:hover {
    background-color: var(--clr-green-primary);
    border: none;
    color: whitesmoke;
}

button.register,
button.submit,
button.edit,
button.edit-task {
    background-color: var(--clr-orange-secondary);
    border:none;
}

button.register:hover,
button.submit:hover,
button.edit:hover,
button.edit-task:hover {
    background-color: var(--clr-orange-primary);
    border: none;
    color: (--clr-text-white);
}

button.delete:hover,
button.delete-task:hover,
button.delete-project:hover {
    background-color:var(--clr-red-dark);
    border: none;
    color: var(--clr-text-white);
}