form .fa-user{
    color:var(--clr-orange-primary);
    font-size: 24px;
}


form.login-register-form {
    font-weight: bold;
    font-size: 20px;
    display: grid;
    align-items: center;
    padding: 0px 50px;
    line-height: 2;
}

form.login-register-form input,
select {
    width: 50%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

form.crud-form {
    font-weight: bold;
    font-size: 18px;
    display: grid;
    padding: 0px 50px;
    line-height: 2;
}

form.crud-form input, select{
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}

form h1{
    width:50%;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}