:root{
    --clr-black-primary: black;

    --clr-darkgrey: #333738;
    --clr-lightgrey:#CCCCCC;
    --clr-logo-white:#E5F0F2;
    --clr-bg-white:#F1F1F1;
    --clr-text-white: whitesmoke;


    --clr-red-dark: darkred;
    --clr-orange-primary:#E36D0A;
    --clr-orange-secondary: #E8B711;
    --clr-coral: coral;

    --clr-green-primary: green;
    --clr-green-secondary: #357104;
    --clr-green-light:#99C3A9;


}