{% extends 'base/base.html' %}
{% block base_content %}
    <div class="main-ctr">
        <section class="child-crud">
            <form action="{% url 'task create' pk=project.pk %}" method="POST" class="crud-form">
                <h1><i class="fa-solid fa-helmet-safety"></i> CREATE NEW TASK</h1>
                {{ form }}
                {% csrf_token %}
                <div class="button-crud-ctr">
                    <button class="edit">Submit</button>
                </div>
            </form>
        </section>

        {% include 'base/logo-section.html' %}
    </div>
{% endblock %}