{% extends 'base/base.html' %}
{% block base_content %}
    <div class="secondary-ctr">
        <section class="child-project-info">
            <header class="secondary-ctr-header">
                <h1 class="project-name"><i class="fa-solid fa-helmet-safety"></i>{{ project.project_identifier }}</h1>
                <h3 class="project-name">{{ task.task_name }}</h3>
            </header>
            <form action="{% url 'task delete' build_slug=project.slug task_slug=task.slug %}" method="POST" class="crud-form">

                {{ form }}
                {% csrf_token %}
                <p class="delete-question">Are you sure you want to delete the task?</p>
                <div class="button-center-ctr">
                    <button class="delete">Delete</button>
                </div>

            </form>


        </section>
        {% include 'base/logo-section.html' %}
    </div>
{% endblock %}