{% extends 'base/base.html' %}
{% block base_content %}
    <div class="main-ctr">
    <section class="child">
        <form action="{% url 'register' %}" method="POST" class="login-register-form">
            <h1><i class="fa-solid fa-user"></i>REGISTER</h1>
            {{ form }}
            {{ profile_form }}
            {% csrf_token %}
            <div class="button-crud-ctr">
                <button class="register-small">Submit</button>
            </div>
        </form>
    </section>

    {% include 'base/logo-section.html' %}
{% endblock %}
</div>