form.login-register-form {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    line-height: 2;
}

form.login-register-form br {
    display: none;
}

form.crud-form, form.comment-form {
    font-weight: bold;
    font-size: 18px;
    display: grid;
    padding: 0px 80px;
    line-height: 2;
}

form.comment-form {
    padding: unset;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

form.comment-form textarea {
    height: 80px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}

.form.crud-form .phone-field-ext {
    display: none;
}

.form.crud-form #id_phone_number_1 {
    display: none;
}

form.login-register-form input,
select {
    width: 50%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

form input, select {
    color: var(--clr-darkgrey);
    font-size: 16px;
}

form.login-register-form input,
select,
form.crud-form input, select {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}

form h1 {
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.crud-form .project-name {
    width: 50%;
    text-align: center;
    color: var(--clr-darkgrey);
}

p.delete-question {
    font-size: 20px;
    color: var(--clr-red-dark);
    /*width: 50%;*/
    text-align: center;
    margin-top: 30px;
}


#id_participants label {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}

#id_participants input {
    width: 1.5rem;
}
