form.login-register-form {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    line-height: 2;
}

form.crud-form, form.comment-form {
    font-weight: bold;
    font-size: 18px;
    display: grid;
    padding: 0px 50px;
    line-height: 2;
}

form.comment-form {
    padding: unset;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

form.comment-form textarea {
    height: 80px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}

.form.crud-form .phone-field-ext {
    display: none;
}

.form.crud-form #id_phone_number_1 {
    display: none;
}

form.login-register-form input,
select {
    width: 50%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

form.crud-form input, select {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;

}

form h1 {
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

