body {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right, rgba(94, 104, 106, 1) 10%, rgba(229, 240, 242, 1) 40% 80%, rgba(229, 240, 242, 1));
    /* background-image: linear-gradient(to right bottom , rgba(94,104,106, 1) 20% ,rgba(229,240,242, 1) 40%,rgba(229,240,242, 1) 100%); */
}

main {
    margin-top: 50px;
    margin-bottom: 110px;
}

.main-ctr,
.detail-ctr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.secondary-ctr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding-left: 80px;
}


.log-ctr {
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.child {
    width: 50%;
}

.child-crud {
    width: 50%;

}

.child-project-info {
    width: 30%;
    height: 100%;
}

.child-table {
    width: 65%;
    height: 100%;
    align-self: flex-start;
}


section.article-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 0 50px 110px 50px;
}

section.log-section {
    width: 80%;
}

article {
    margin: 30px 30px;
    overflow: hidden;
    border: 3px solid var(--clr-darkgrey);
    border-radius: 20px;
    text-align: center;
    border-image: fill;
}


article.dashboard-artc {
    margin: unset;
    height: 30rem;

}

article.details-arc {
    margin-top: 0px;
    margin-left: 0px;
    line-height: 1.2;
    width: 500px;
    height: 100%;
}

article img {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

article header {
    background-color: var(--clr-orange-secondary);
    color: var(--clr-darkgrey);
    padding: 10px 20px;
    text-align: center;
}

p.details-arc-header {
    background-color: var(--clr-darkgrey);
    color: var(--clr-text-white);
    padding: 3px 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;

    line-height: 1.5;
}

p.details-arc-params {
    padding: 3px 15px;
    margin: 3px;

    font-size: 14px;
    font-weight: 600;

    text-align: left;
    /*text-transform: capitalize;*/

    line-height: 1.5;
}

div.details-arc-params ul {
    padding: 3px 10px;
    margin: 5px 15px;

    font-size: 14px;

    align-items: left;
    text-align: left;

    text-decoration: none;
}

.details-arc-params a {
    text-decoration: none;
    color: var(--clr-black-primary);
}

.details-arc-params a:hover {
    color: var(--clr-orange-secondary);
}

p.deadline-info {
    padding: 3px 15px;
    margin: 3px;

    font-weight: bold;
    text-align: left;

}

p.project-status {
    padding: 5px 15px;
    color: var(--clr-darkgrey);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

div.project-params a {
    text-decoration: none;
    color: var(--clr-black-primary);
    font-size: 14px;
    font-weight: 500;
}

div.project-params a:hover {
    text-decoration: none;
    color: var(--clr-orange-primary);
    font-size: 14px;
    font-weight: 500;
}

#frontpage-img {
    width: 100%;
    height: 100%;
}

hr {
    size: 3px;
}


#error-message {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: var(--clr-darkgrey);
}

#error-message-secondary {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--clr-darkgrey);
}

#error-message-expln {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--clr-black-primary);
}

.errorlist {
    color: var(--clr-red-dark);
    font-size: 14px;
    font-style: italic;
}


.helptext {
    /*display: none;*/
    color: var(--clr-darkgrey);
    font-size: 14px;
    font-style: italic;
}










