body {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right, rgba(94, 104, 106, 1) 10%, rgba(229, 240, 242, 1) 40% 80%, rgba(229, 240, 242, 1));
    /* background-image: linear-gradient(to right bottom , rgba(94,104,106, 1) 20% ,rgba(229,240,242, 1) 40%,rgba(229,240,242, 1) 100%); */
}

main{
    margin-top: 80px;
    margin-bottom: 60px;
    
}

.main-ctr{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; 
    align-items: center;
}

.child {
    width: 50%;
}

.child-crud {
    width: 50%;

}

.child-project-info {
    width: 30%;
    height: 100%;
}

.child-table {
    width: 65%;
    height: 100%;
    align-self: flex-start;
}


section.article-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

article{
    margin: 30px 30px;
    overflow: hidden;
    border: 3px solid var(--clr-darkgrey);
    border-radius: 20px;
    text-align: center;
    border-image: fill;
}


article.dashboard-artc {
    width: 30%;
    height: 500px;

}

article.details-arc {
    line-height: 1.2;
    width: 500px;
    height: 100%;
}

article img {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

article header {
    background-color: var(--clr-orange-secondary);
    color: var(--clr-darkgrey);
    padding:10px 20px;
    text-align: center;   
}

p.details-arc-header {
    background-color: var(--clr-darkgrey);
    color: var(--clr-text-white);
    padding: 3px 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    
    line-height: 1.5;
}

p.details-arc-params {
    padding: 3px 15px;
    margin: 3px;

    font-size: 14px;
    font-weight: 600;

    text-align: left;
    text-transform: capitalize;

    line-height: 1.5; 
}

div.details-arc-params ul {
    padding: 3px 10px;
    margin: 5px 15px;

    font-size: 14px;

    align-items: left;
    text-align: left;
    
    text-decoration: none;
}

p.deadline-info {
    padding: 3px 15px;
    margin: 3px;

    font-weight: bold;
    text-align: left;
    
}

p.project-status {
    padding: 5px 15px;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; 
}

div.project-params a {
    text-decoration: none;
    color: var(--clr-black-primary);
    font-size: 14px;
    font-weight: 500;
}

div.project-params a:hover {
    text-decoration: none;
    color: var(--clr-orange-primary);
    font-size: 14px;
    font-weight: 500;
}

 #frontpage-img {
    width: 100%;
    height: 100%;
}

hr {
    size: 3px;
}

.fa-helmet-safety {
    color: var(--clr-orange-primary);
    padding-right: 10px;
}

.fa-circle-exclamation {
    color: var(--clr-orange-primary);
    padding-right: 5px;
}

.fa-user{
    color:var(--clr-orange-primary);
    font-size: 24px;
    padding-right: 5px;
}

#page-not-found {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: var(--clr-darkgrey);
}