@media only screen and (max-width: 1536px) {

    .main-ctr {
        flex-direction: column;
        align-items: unset;
        margin-left: 80px;
    }

    form h1 {
        width: 80%
    }

    form.login-register-form input,
    select,
    form.crud-form input, select {
        width: 80%;
    }
}

@media only screen and (max-width: 1400px) {
    article.dashboard-artc {
        height: 35rem;
    }

    article.img {
        width: 50%;
        height: 50%;
    }

    .button-project-ctr ul {
        display: flex;
        flex-direction: column;
        margin: unset;
        padding: unset;

    }
}

@media only screen and (max-width: 1024px) {
    .child {
        display: none;
    }

    .logo-ctr {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    nav li {
        display: unset;
        list-style-type: none;
    }

    .username-ctr li{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
