{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Home</title>
</head>

<body>
<nav>
    <ul>
        <li><a href="{% url 'home page' %}">Home</a></li>
        {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'project create' %}">Add Project</a>
            </li>
            <li>
                <a href="{% url 'profile details' pk=request.user.id %}">Profile</a>
            </li>
            <li>
                <a href="{% url 'log activity' %}">Log Activity</a>
            </li>
            </ul>
            <ul class="username-ctr">
                <li class="username-item">
                    <a href="{% url 'profile details' pk=request.user.id %}">
                        <i class="fa-solid fa-user"></i>
                        <span class="username"> {{ user_full_name }}</span>
                    </a>
                </li>
                <li class="logout-item">
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        {% endif %}
</nav>

<main>
    {% block base_content %}
    {% endblock %}

</main>

<footer>
    <ul>
        <li>&copy; Copyright 2022</li>
        <li class="contacts">
            <a href="https://github.com/TanyaAng/"><i class="fa-brands fa-github"></i> Tanya Angelova</a>
        </li>
    </ul>
</footer>
</body>

</html>