@import url("https://use.fontawesome.com/releases/v6.2.0/css/all.css");

body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right, rgba(94, 104, 106, 1) 10%, rgba(229, 240, 242, 1) 40% 80%, rgba(229, 240, 242, 1));
    /* background-image: linear-gradient(to right bottom , rgba(94,104,106, 1) 20% ,rgba(229,240,242, 1) 40%,rgba(229,240,242, 1) 100%); */
}

section{
    padding: 10px 20px;
}

.child {
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px 0px;
}

.child-crud {
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px 0px;
}

.child-project-info {
    width: 30%;
    height: 100%;
    float: left;
    /* padding-left: 20px; */
}

.child-table {
    width: 65%;
    height: 100%;
    float: left;
}

.logo-ctr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    height: auto;
    background-color: #333738;
    text-align: left;
    list-style: none;
    padding: 0px 20px;
    border: 1px solid #333738;
    border-top: 5px solid #E36D0A ;
}

nav li {
    font-size: 22px;
    padding: 0px 10px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #EAF1F1;
}

nav a:hover {
    color: #E36D0A;
}

footer li.contacts a {
    text-decoration: none;
    color: #EAF1F1;
}

footer li.contacts i:hover {
    color: #0A81EC;
    cursor: pointer;
}

div.project-params a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

div.project-params a:hover {
    text-decoration: none;
    color: #E36D0A;
    font-size: 14px;
    font-weight: 500;
}

 #frontpage-img {
    width: 950px;
    height: 700px;
    border-radius: 10px;
}

hr {
    size: 3px;
}

.fa-helmet-safety {
    color: #E36D0A;
    padding-right: 10px;
}

.fa-circle-exclamation {
    color: #E36D0A;
    padding-right: 5px;
}

.fa-user{
    padding-right: 5px;
}

form .fa-user{
    color:#E36D0A;
    font-size: 24px;
}

h1.main-logo {
    /* font-size: 6vw; */
    font-size: 120px;
    font-weight: 900;
    background-color: #333738;
    border-radius: 10px;
    border: 1px solid #E5F0F2;
    color: #E5F0F2;
    display: block;
    padding: 10px;
}

h1.main-logo:nth-child(2) {
    position: absolute;
    background-color: #E5F0F2;
    color: #333738;
    clip-path: inset(-1% -1% 50% -1%);
}

h2 {
    font-size: 30px;
    font-weight: 900;
    color: #357104;
    text-transform: capitalize;
}

.button-frontpage-ctr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}

.button-project-ctr {
    position: relative;
    display: inline-block;
}

.button-crud-ctr {
    width:50%;
    text-align: center;
    margin: 30px 0px;
}

button.login,
button.register,
button.submit
{
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 150px;
    height: 45px;
    cursor: pointer;
    margin: 0px 30px;
}

button.details,
button.edit,
button.delete-project {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin: 15px 10px;
}

button.delete {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin: 15px 10px;
}

button.delete,
button.delete-task,
button.delete-project {
    background-color: coral;
    border: 1px solid coral;

}

button.login,
button.details {
    background-color: #99C3A9;
    border: 1px solid #99C3A9;
}

button.login:hover,
button.details:hover {
    background-color: green;
    border: 1px solid green;
    color: whitesmoke;
}

button.register,
button.submit,
button.edit,
button.edit-task {
    background-color: #E8B711;
    border: 1px solid #E8B711;
}

button.register:hover,
button.submit:hover,
button.edit:hover,
button.edit-task:hover {
    background-color: #E36D0A;
    border: 1px solid #E36D0A;
    color: whitesmoke;
}

button.delete:hover,
button.delete-task:hover,
button.delete-project:hover {
    background-color: darkred;
    border: 1px solid darkred;
    color: whitesmoke;
}

form.login-register-form {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    align-items: center;
    padding: 0px 50px;
    line-height: 2;
}

form.login-register-form input,
select {
    width: 50%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

form.crud-form {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
    display: grid;
    padding: 0px 50px;
    line-height: 2;
}

form.crud-form input, select{
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}

form h1{
    width:50%;
    text-align: center;
    /* border: 1px solid red; */
    margin-top:10px;
    margin-bottom:10px;
}

article.dashboard {
    display: inline-block;
    margin: 30px 30px;
    width: 500px;
    height: 500px;
    border: 3px solid #333738;
    border-radius: 20px;
    text-align: center;
    border-image: fill;
}

article.details-arc {
    display: inline-block;
    margin: 30px 30px;
    line-height: 1.2;
    width: 500px;
    height: 100%;
    border: 3px solid #333738;
    border-radius: 20px;
    text-align: center;
    border-image: fill;
}

article img {
    width: 60%;
    height: 60%;
}

article.dashboard header, article.details-arc header {
    text-align: center;
    color: #EAF1F1;
    background-color: #E8B711;
    border: 1px solid #E8B711;
    color: #333738;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p.details-arc-header {
    background-color: #333738;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 3px 15px;
    margin: 0px 0px;
    line-height: 1.5;
}

p.details-arc-params {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
    line-height: 1.5;
    padding: 3px 15px;
    margin: 3px;
}

div.details-arc-params ul {
    font-size: 14px;
    align-items: left;
    text-align: left;
    padding: 3px 10px;
    margin: 5px 15px;
    text-decoration: none;
}

p.deadline-info {
    font-weight: bold;
    text-align: left;
    padding: 3px 15px;
    margin: 3px;
}

p.project-status {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 15px;
}

table {
    margin: 95px 0px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-size: 16px;
    text-align: center;
    background-color: #99C3A9;
    border: 1px solid #CCCCCC;
    height: 30px;
}

td {
    text-align: center;
    font-size: 14px;
    border: 1px solid #CCCCCC;
    padding-left: 5px;
    height: 30px;
}

tr:nth-child(odd) {
    background-color: #F1F1F1;
}


footer {
    position: fixed;
    bottom: 0px;

    background-color: #333738;
    color: #EAF1F1;
    
    height: auto;
    width: 100%;
}

footer li {
    font-size: 14px;
    display: inline-block;
    padding-right: 10px;
}

#page-not-found {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #333738;
}