nav{
    background-color: #EAF1F1;
    text-align: left;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav li{
    font-size: 22px;
    line-height: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;

}

nav a {
    text-decoration: none;
    color: #252323;
}
a:hover{
    color: #666370 ;
}

body{
    margin: 0px;
    /* padding: 0px; */
    padding-left: 20px;
    padding-right: 20px;
    background-color: #333738;
    /* background-image: url(building_1.jpg); */
}


/* .float-parent{
    border: 3 px solif #fff;
    padding: 20px;
} */

/* h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
} */

 .float-child{
    width: 45%;
    height: 100%;
    float: left;
 }

 img{
    width: 60%;
    height: 60%;
 }


.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 6vw;
	font-weight: 900;
	background-color: #EAF1F1;
	color: #333738;
	display: block;
	padding: .2em;
}

h1:nth-child(2) {
	position: absolute;
	background-color: #333738;
	color: #EAF1F1;
	clip-path: inset(-1% -1% 50% -1%); 
}

h2{
    font-size: 30px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #EAF1F1;
}

button{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: #EAF1F1;
    color: #252323;
    border-radius: 5px;
}

footer{
    background-color: #EAF1F1;
    position: fixed;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 10px;
    height: 50px;
    width: 96%;    
}

#copyright{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #252323;
    padding: 6px;
}

