{% extends 'base/base.html' %}
{% block base_content %}
    <div class="secondary-ctr">
        <section class="child-project-info">
            <header class="secondary-ctr-header">
                <h1><i class="fa-solid fa-helmet-safety"></i>{{ project.project_identifier }}</h1>
                <h3>{{ task.task_name }}</h3>
            </header>
            <form action="{% url 'comment edit' task_slug=task.slug pk=object.id %}" method="post"
                  class="comment-form">
{#                <h4><i class="fa-solid fa-helmet-safety"></i> EDIT COMMENT</h4>#}
                {{ form }}
                {% csrf_token %}
                <div class="button-center-ctr">
                    <button class="share">Submit</button>
                </div>
            </form>
        </section>

        {% include 'base/logo-section.html' %}
    </div>
{% endblock %}