{% extends 'base/base.html' %}
{% load static %}
{% block base_content %}
    <section class="article-section">
        {% if projects %}
            {% for project in projects %}
                <article class="dashboard-artc">
                    <header>
                        <h3>{{ project.project_identifier }}</h3>
                    </header>
                    <p class="project-status">Status: {{ project.project_phase }}</p>
                    <img src="{{ project.project_img }}" alt="">
                    <div>
                        <a href="{% url 'project details' build_slug=project.slug %}">
                            <button class="details">Details</button>
                        </a>
                        {% if request.user == project.owner or request.user.is_superuser %}
                            <a href="{% url 'project edit' build_slug=project.slug %}">
                                <button class="edit">Edit</button>
                            </a>
                            <a href="{% url 'project delete'  build_slug=project.slug %}">
                                <button class="delete">Delete</button>
                            </a>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <div>
                <h1>Hello, {{ user_full_name }}! </h1>
                <h3>You are not a participant to any project yet!</h3>
            </div>
        {% endif %}
    </section>
{% endblock %}