{% extends 'base/base.html' %}
{% load static %}
{% block base_content %}
    <div class="main-ctr">
        <section class="child">
            <img src="{% static 'images/refargotohp-do08-18xG8I-unsplash.jpg' %}" id="frontpage-img">
        </section>

        <section class="child">
            <div class="logo-ctr" id="frontpage-logo">
                <h1 class="main-logo">BuildIn</h1>
                <h1 class="main-logo">BuildIn</h1>
            </div>

            <div class="logo-ctr" id="frontpage-sublogo">
                <h2>
                    <i class="fa-solid fa-helmet-safety"></i>Application for Design Engineers</h2>
            </div>
            <div class="button-frontpage-ctr">
                <a href="{% url 'login' %}"><button class="login">Login</button></a>
                <a href="{% url 'register' %}"><button class="register"> Register</button></a>
            </div> 
        </section>
    </div>

{% endblock %}