{% extends 'base/base.html' %}
{% block base_content %}
    <div class="secondary-ctr">
        <section class="child-project-info">
            <header class="secondary-ctr-header">
                <h1><i class="fa-solid fa-helmet-safety"></i>{{ task.project.project_identifier }}</h1>
                <h3>{{ task.task_name }}</h3>
            </header>
            <form class="comment-form" action="{% url 'comment section' task_slug=task.slug %}" method="POST">
                {{ form }}
                {% csrf_token %}
                <div class="button-center-ctr">
                    <button class="share">Submit</button>
                </div>
            </form>
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment-heading">
                        {% if comment.user.profile %}
                            <p class="comment-author">{{ comment.user.profile.full_name }}</p>
                        {% else %}
                            <p class="comment-author">{{ comment.user }}</p>
                        {% endif %}
                        <p class="comment-date">{{ comment.publication_date_time }}</p>
                    </div>
                    <div class="comment-info">
                        <p>{{ comment.description }}</p>
                        {% if request.user == comment.user or request.user.is_superuser %}
                            <div class="comment-actions">
                                <ul role="list" class="comment-btn">
                                    {% if request.user == comment.user %}
                                        <li>
                                            <a href="{% url 'comment edit' task_slug=comment.to_task.slug pk=comment.id %}">
                                                <i class="fa-solid fa-pen fa-edit"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if request.user.is_superuser or request.user == comment.user %}
                                        <li>
                                            <a href="{% url 'comment delete' task_slug=comment.to_task.slug pk=comment.id %}">
                                                <i class="fa-sharp fa-solid fa-trash fa-delete"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>

        {% include 'base/logo-section.html' %}

    </div>
{% endblock %}