{% extends 'base/base.html' %}
{% load static %}
{% block base_content %}

        <section>
        {% for project in projects %}
            <article class="dashboard">
                <header>
                    <h3>{{ project.project_identifier }}</h3>
                </header>
                <p class="project-status">Status: {{ project.project_phase }}</p>
                <img src="{{ project.project_img }}" alt="">
                <div>
                    <a href="{% url 'project details' pk=1 project_name='Building1' %}"><button class="details">Details</button></a>
                    <a href="{% url 'project delete'  pk=1 project_name='Building1' %}"><button class="delete">Delete</button></a>
                </div>
            </article>

            {% endfor %}

        </section>

{% endblock %}