{% extends 'base/base.html' %}
{% block base_content %}
    <div class="main-ctr">
        <section class="child-project-info">
            <article class="details-arc">
                <header>
                    <h3>{{ project.project_identifier }}</h3>
                </header>
                    <p class="details-arc-header">Project name:</p>
                    <p class="details-arc-params">{{ project.project_name }}</p>

                    <p class="details-arc-header">Project Phase:</p>
                    <p class="details-arc-params">{{ project.project_phase }}</p>

                    <p class="details-arc-header">Contractor name:</p>
                    <p class="details-arc-params">{{ project.client_name }}</p>

                    <p class="details-arc-header">Project participants: </p>
                    <p class="details-arc-params">{{ participants }}</p>
                    <p class="details-arc-params"><a href="{% url 'project contacts' build_slug=project.slug %}"><i
                            class="fa-solid fa-address-book"></i>Contact List</a></p>

                    <p class="details-arc-header"><i class="fa-sharp fa-solid fa-circle-exclamation"></i>Deadline:</p>
                    <p class="deadline-info">{{ project.deadline_date }}</p>

                    <p class="details-arc-header"><i class="fa-sharp fa-solid fa-circle-exclamation"></i>Time to
                        deadline:
                    </p>
                    <p class="deadline-info">h</p>

                    <p class="details-arc-header"><i class="fa-sharp fa-solid fa-circle-exclamation"></i>Estimation of
                        left
                        tasks:</p>
                    <p class="deadline-info">{{ total_time_of_project }} h</p>
                <hr>

                <div class="button-project-ctr">
                    <a href="{% url 'task create' build_slug=project.slug %}">
                        <button class="edit">Add Task</button>
                    </a>
                    {% if request.user == project.owner or request.user.is_superuser %}
                        <a href="{% url 'project edit' build_slug=project.slug %}">
                            <button class="edit">Edit</button>
                        </a>
                        <a href="{% url 'project delete' build_slug=project.slug %}">
                            <button class="delete">Delete</button>
                        </a>
                    {% endif %}
                </div>

            </article>
        </section>

        <section class="child-table">
            {% if tasks %}
                <table>
                    <thead>
                    <tr>
                        <th>Drawing No</th>
                        <th>Task Name</th>
                        <th>Time Estimation</th>
                        <th>Designer</th>
                        <th>Ready for Markups</th>
                        <th>Checked by</th>
                        <th>Approved</th>
                        <th>Issued</th>
                        <th>Comment</th>
                        <th>Edit/Delete</th>

                        {#                    <th>Edit</th>#}
                        {#                    <th>Delete</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.task_id }}</td>
                            <td>
                                {{ task.task_name }}
                            </td>
                            <td>{{ task.time_estimation }} hours</td>
                            <td>{{ task.designer }}</td>
                            <td>{{ task.is_ready_for_markups }}</td>
                            <td>{{ task.checked_by }}</td>
                            <td>{{ task.is_approved }}</td>
                            <td>{{ task.is_issued }}</td>
                            <td>
                            <span>
                                <a href="{% url 'comment section' task_slug=task.slug %}">
                                    <i class="fa-solid fa-comment-dots"></i>
                                </a>
                            </span>
                        </td>
                            <td>
                            <span>
                                <a href="{% url 'task edit' build_slug=project.slug task_slug=task.slug %}">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                            </span>
                                <span>
                                <a href="{% url 'task delete' build_slug=project.slug task_slug=task.slug %}">
                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                </a>
                            </span>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No Tasks Yet!</h1>
            {% endif %}
        </section>
    </div>

{% endblock %}