{% extends 'base/base.html' %}
{% block base_content %}
        <section class="child-crud">
            <form action="{% url 'project create' %}" method="post" class="crud-form">
                <h1> <i class="fa-solid fa-helmet-safety"></i> ADD NEW PROJECT</h1>

                {{ form }}
                {% csrf_token %}


                <div class="button-crud-ctr">
                    <button class="edit">Submit</button>
                </div>
                
               
            </form>
            

        </section>

        <section class="child">
            <div class="logo-ctr">
                <h1 class="main-logo">BuildIn</h1>
                <h1 class="main-logo">BuildIn</h1>
            </div>

            <div class="logo-ctr">
                <h2>
                    <i class="fa-solid fa-helmet-safety"></i>Application for Professional Builders</h2>
            </div>
        </section>
{% endblock %}