{% extends 'base/base.html' %}
{% block base_content %}
    <div class="main-ctr">
        <section class="child-project-info">
            <article class="details-arc">
                <header>
                    <h3>{{ project.project_identifier }}</h3>
                </header>
                <p class="details-arc-header">Project name:</p>
                <p class="details-arc-params">{{ project.project_name }}</p>

                <p class="details-arc-header">Project Phase:</p>
                <p class="details-arc-params">{{ project.get_project_phase_display }}</p>

                <p class="details-arc-header">Contractor name:</p>
                <p class="details-arc-params">{{ project.client_name }}</p>

                <p class="details-arc-header">Project participants: </p>
                <p class="details-arc-params">{{ participants }}</p>
                <hr>

                <div class="button-project-ctr">
                    <a href="{% url 'project details' build_slug=project.slug %}">
                        <button class="details">Back</button>
                    </a>
                </div>

            </article>
        </section>

        <section class="child-table">
            {% if participants %}
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Participant Role</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for participant in project_participants %}
                        <tr>
                            {% if participant.profile and participant.profile.full_name %}
                                <td>{{ participant.profile.full_name }}</td>
                            {% else %}
                                <td>No added name</td>
                            {% endif %}

                            <td>{{ participant.email }}</td>
                            {% if participant.profile and participant.profile.phone_number %}
                                <td>{{ participant.profile.phone_number }}</td>
                            {% else %}
                                <td>No added phone number</td>
                            {% endif %}

                            {% if participant.profile and participant.profile.participant_role %}
                                <td>{{ participant.profile.participant_role }}</td>
                            {% else %}
                                <td>No added role</td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <h1>No added participants yet!</h1>
            {% endif %}
        </section>

    </div>
{% endblock %}